@import "tailwindcss";

@theme {
  --color-main: #101828;
  --color-gray-default: #8d929a;
  --color-gray-light: #dadde1;
  --color-blue-primary: #3470ff;
  --color-blue-hover: #0b44cd;
  --color-accent: #f2f4f7;
  --font-manrope: var(--font-manrope);
}

:root {
  --background: #ffffff;
  --foreground: #101828;
}

body {
  background: var(--background);
  color: var(--foreground);
}